{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<form action="/auth/login" method="post">
    <div class="my-3 ">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
    <div class="my-3">
        <p>Don't have an account? <a href="/auth/register">Register</a></p>
        <p><a href="/auth/change">Change Password</a></p>
    </div>
</form>
    
{% endblock %}
